# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# SQLite database files
*.db

# VSCode settings
.vscode/

# MacOS files
.DS_Store

# Logs
*.log
